# Sequence types

<a id='seq_sequence_types'></a>

In Python, sequence types are data types that represent a sequence or an ordered collection of elements. The three primary built-in sequence types in Python are tuples, strings, and lists
- All sequences are zero-based

## Tuples
A tuple is an ordered and immutable heterogeneous sequence. Tuples can be initialized with comma-separated values, and the use of parentheses can enhance legibility.

In [1]:
my_tuple = (1, 'Hello', 3.14, True)
my_tuple

(1, 'Hello', 3.14, True)

In [2]:
other_tuple = False, 4, "things"
other_tuple

(False, 4, 'things')

Once created, tuples cannot be chanded (inmutability)

In [3]:
my_tuple[2] = 12

TypeError: 'tuple' object does not support item assignment

## Strings
Strings are immutable sequences of characters.
- Strings are defined using single quotes (') or double quotes (") around the text. 
- Characters can be accessed using index numbers
- Various string operations and methods are available.

In [4]:
my_string = "Hello, World!"
my_string

'Hello, World!'

In [8]:
'''
dsfdsf
sdfh
sdfh
'''

'\ndsfdsf\nsdfh\nsdfh\n'

String are also inmutable, so once created you cannot change it.

In [9]:
my_string[2] = 'a'

TypeError: 'str' object does not support item assignment

## Lists

Lists are mutable sequences of heterogeneous values.
- Elements can be modified after creation.
- Lists are defined using square brackets [] and can contain elements of different data types.
- Elements in a list are ordered and can be accessed using index.
- Lists support various operations, such as appending, removing, or modifying elements.

In [10]:
my_list = [1, 'Hello', 3.14, True]
my_list

[1, 'Hello', 3.14, True]

Lists are mutable

In [11]:
my_list[2] = "Buddy"
my_list

[1, 'Hello', 'Buddy', True]

#### Common operations on sequences

Accessing elements using brackets ([]) with 0-based indexing

In [12]:
t = (15, 'Hello', 3.14, True)
s = "Hello worlds!"
l = [1, False, 'Ouch']

print(t[0])
print(s[2])
print(l[1])

15
l
False

Query the sequence length using _len_

In [13]:
print(len(t))
print(len(s))
print(len(l))

4
13
3

You can mix sequences at any number of levels

In [14]:
mix = [2, (True, 4, 'cat', 3.245), 'Hello']
print(type(mix))
print(len(mix))

<class 'list'>
3

In [15]:
print(mix[1])
print(type(mix[1]))
print(len(mix[1]))

(True, 4, 'cat', 3.245)
<class 'tuple'>
4

In [16]:
print(mix[1][2])
print(type(mix[1][2]))

cat
<class 'str'>

Negative indices are used to access elements from the sequence in reverse order, starting from the end:
- The index -1 corresponds to the last element, -2 corresponds to the second-to-last element, and so on.
- Negative indices are particularly useful when you want to access elements from the end of a sequence without knowing its length.

In [17]:
l = [1, 2, 3, 4, 5, 6, 7, 8]

print(l[-1])

print(l[-2])

print(l[-3])

8
7
6

Sequence slicing in Python allows you to extract a portion or a subsequence from a sequence, such as a list, tuple, or string. Slicing is performed using the square bracket notation with a start index, stop index, and an optional step value.

Basic Syntax:
- The syntax for slicing is sequence[start:stop:step].
- The start index is inclusive (included in the slice), and the stop index is exclusive (not included in the slice).
- The step value specifies the increment between indices. It is optional and defaults to 1 if not provided.

In [19]:
animals = ["lion", "elephant", "tiger", "giraffe", "zebra", "monkey", "panda", "koala"]
print(animals[2:5])

['tiger', 'giraffe', 'zebra']

If start index is missing, slice is taken from the beginning

In [20]:
print(animals[:4])

['lion', 'elephant', 'tiger', 'giraffe']

If the stop index is missing, slice took to the last element

In [21]:
print(animals[3:])

['giraffe', 'zebra', 'monkey', 'panda', 'koala']

If start and stop indexes are empty, a copy of the list is created

In [22]:
animal_copy = animals[:]
animal_copy

['lion', 'elephant', 'tiger', 'giraffe', 'zebra', 'monkey', 'panda', 'koala']

In [23]:
print(animals == animal_copy)

print(animals is animal_copy)

True
False

In [24]:
b = animals
b is animals

True

Negative indexes can be used in slices

In [26]:
animals

['lion', 'elephant', 'tiger', 'giraffe', 'zebra', 'monkey', 'panda', 'koala']

In [27]:
animals[2:-2]

['tiger', 'giraffe', 'zebra', 'monkey']

The step value specifies the increment between indices.

In [28]:
animals

['lion', 'elephant', 'tiger', 'giraffe', 'zebra', 'monkey', 'panda', 'koala']

In [29]:
animals[::3]

['lion', 'giraffe', 'panda']

In [30]:
animals[1::2]

['elephant', 'giraffe', 'monkey', 'koala']

If the step is negative, elements are reversed

In [31]:
animals[::-1]

['koala', 'panda', 'monkey', 'zebra', 'giraffe', 'tiger', 'elephant', 'lion']

In [32]:
animals

['lion', 'elephant', 'tiger', 'giraffe', 'zebra', 'monkey', 'panda', 'koala']

In [33]:
animals[-2::-2]

['panda', 'zebra', 'tiger', 'lion']

Operator **in** query if an element belong to a sequence

In [34]:
2 in (1, 2, 3, 4)

True

In [35]:
3.14 in [1, 2, 3, 4]

False

In the case of strings, substrings are searched

In [36]:
"world" in "Hello world!"

True

In [37]:
"hello" in "Hello world!"

False

More complex cases can be used

In [38]:
(4, 5) in [2, 3, (4, 5), (6, (7, 8))]

True

In [39]:
7 in [2, 3, (4, 5), (6, (7, 8))]

False

The **+** operator is used for concatenation or combining sequences together. It is used to concatenate two or more sequences, creating a new sequence that contains the elements of both operands in the order they appear.

In [40]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [41]:
('a', 'b') + ('c', 'd')

('a', 'b', 'c', 'd')

In [42]:
"Hello "+"world!"

'Hello world!'

Only sequences of the same type can be concatenated

In [43]:
[1,2]+(3,4)

TypeError: can only concatenate list (not "tuple") to list

Method _index_ returns the position of an element

In [44]:
(3, 5, 6, 4).index(5)

1

Lists have aditional operators

In [45]:
l = ['a', 'b', 'c']
l.append('d')
l

['a', 'b', 'c', 'd']

In [46]:
l.insert(1, 'qq')
l

['a', 'qq', 'b', 'c', 'd']

In [47]:
l.extend([3, 4, 5])
l

['a', 'qq', 'b', 'c', 'd', 3, 4, 5]

In [48]:
l.append([3,5,6])
l

['a', 'qq', 'b', 'c', 'd', 3, 4, 5, [3, 5, 6]]

In [ ]:
# Be carefull!
l = ['a', 'b', 'c']
l.append([3, 4, 5])
l

In [49]:
l = [1, 2, 3, 4, 4, 2, 1, 3, 1, 2]
l.count(2)

3

In [50]:
l.remove(4)
l

[1, 2, 3, 4, 2, 1, 3, 1, 2]

In [51]:
l = [1, 2, 3, 4, 5, 6]
l.reverse()
l

[6, 5, 4, 3, 2, 1]

In [52]:
l = [3, 6, 9, 2, 4, 5]
l.sort()
l

[2, 3, 4, 5, 6, 9]

### Some comments on tuples

The comma is the tuple initialization operator, while parentheses are typically used to clarify the notation, although they are not strictly required.

In [53]:
a = 2, 3
type(a)

tuple

Parentheses without commas are primarily used for indicating precedence in expressions, allowing you to control the order of operations.

In [54]:
b = (2)
type(b)

int

To initialize a tuple with a single element, you need to use the comma

In [55]:
b = (2, )
print(type(b))
print(len(b))

<class 'tuple'>
1

To define an empty tuple, you can use empty parentheses ()

In [56]:
c = ()
print(type(c))
print(len(c))

<class 'tuple'>
0

Differences between tuples and lists:
- Mutability: Tuples are immutable. Lists, on the other hand, are mutable. 
- Usage:
    - Tuples are typically used for grouping related data together when the order of elements is important. For example, coordinates (x, y) or a person's information (name, age, gender).
    - Lists are commonly used when you need a collection of elements that can be modified or extended. They are suitable for scenarios where you may add or remove elements dynamically.
- Performance:
    - Tuples are generally more memory-efficient and faster to create than lists. Since tuples are immutable, Python can optimize their storage and operations.
    - Lists, being mutable, require more memory and may involve additional overhead when elements are added, removed, or modified.
- Use Cases:
    - Tuples are often used in situations where data integrity is important, and you want to ensure that the values remain unchanged. They are suitable for representing fixed collections of related items.
    - Lists are commonly used when you need to store and manipulate a collection of data that can change over time. They provide flexibility for adding, removing, or modifying elements.

### Destructuring in Python

Destructuring, also known as unpacking, is a feature in Python that allows you to extract individual elements from sequences and assign them to variables in a single statement. It provides a convenient way to access and work with the elements of a collection

In [57]:
l = [2, 3, 4]
l[0], l[1], l[2]

(2, 3, 4)

In [58]:
x, y = (2, 3)  
print(x)
print(y)

2
3

If there are not enough elements to destructure, an exception will be raised

In [59]:
x,y,z = [3, 4]

ValueError: not enough values to unpack (expected 3, got 2)

Values can be ignored using underscores: _

In [61]:
x, _, z = 3, 5, 6
print(x, z)

3 6

To capture collections of values, you can use the * operator

In [62]:
head, *tail = [1, 2, 3, 4, 5]
print(head)
print(tail)

1
[2, 3, 4, 5]

In [63]:
*head, tail = [1, 2, 3, 4, 5]
print(head)
print(tail)

[1, 2, 3, 4]
5

In [64]:
head, *middle, tail = [1, 2, 3, 4, 5]
print(head)
print(middle)
print(tail)

1
[2, 3, 4]
5

In [65]:
# Any combination is possible, but no more than a single * can appear
x, _, *z, h = [1, 2, 3, 4, 5, 6]
print(x)
print(z)
print(h)

1
[3, 4, 5]
6

In [66]:
# The variable with * can be assigned to the empty list
x, *y, z = [3, 5]
print(x)
print(y)
print(z)

3
[]
5

## Solved Exercises

**Exercise**. Create a list of tuples, where each tuple contains the data of a person: name, age, gender. Initialize the list with data of 3 people.

In [ ]:
persons = [("Peter", 12, "M"), 
           ("Jane", 23, "F"), 
           ("Joseph", 16, "M")]
persons

a) Print the data of the last person

In [ ]:
persons[-1]

b) Print the name of the second person

In [ ]:
print(persons[1][0])

c) Print the data of a person given their name (input from the keyboard)

In [ ]:
name = input("Name: ")
for idx in range(len(persons)):
    if persons[idx][0] == name:
        print(persons[idx])

**Exercise**. From the following list:

In [ ]:
l = [3, 5, 6, 2, 4, 6, 7, 9, 12, 2, 3, 5]

a) Print the odd numbers:

In [ ]:
l = [3, 5, 6, 2, 4, 6, 7, 9, 12, 2, 3, 5]
for v in l:
    if v % 2 == 0:
        print(v)

b) Count odd numbers

In [ ]:
c = 0
for v in l:
    if v%2 == 1:
        c += 1
print(c)

c) Add all the numbers

In [ ]:
s = 0
for v in l:
    s += v
print(s)

**Exercise**. From the following list:

In [ ]:
m = [2, 3, -5, 3, 4, -2, -7, 4, 7]

a) Determine if the sum (of absolute values) of positive numbers is greater than negative numbers. Use two variables to store the sums.

In [ ]:
sum_pos, sum_neg = 0, 0
for v in m:
    if v > 0:
        sum_pos += v
    else:
        sum_neg += abs(v)
print(sum_pos > sum_neg)

b) Create a new list with positive numbers

In [ ]:
l_pos = []
for v in m:
    if v > 0:
        l_pos.append(v)
print(l_pos)

**Exercise**. Given the following list

In [ ]:
n = [3, 5, -9, 7, 5, 7, 8, -10, -1, 9, -6, -5, 0, 1, -6, -7, -8, -6, 9, -4]

a) Extract a list with the first 5 values

In [ ]:
print(n[:5])

b) Extract a list with the last 5 values

In [ ]:
print(n[-5:])

c) Extract a list with 5 intermediate values

In [ ]:
print(n[len(n)//2-2:len(n)//2+3])

d) Extract a list with the values at even positions

In [ ]:
print(n[::2])

e) Calculate the difference between the first half and second half of the values

In [ ]:
print(sum(n[:len(n)//2]) - sum(n[len(n)//2:]))

**Exercise**. Given the following list with integer values

In [ ]:
l = [19, 5, 6, 16, 1, 2, 6, 7, 2, 4]

a) Create a new list with dupplicated values

In [ ]:
l2 = []
for idx in range(len(l)):
    v = l[idx]
    if v in l2:
        print(v)
    else:
        l2.append(v)

b) Create a new list with the values between 0 and 20 that does not appear in the list.

In [ ]:
l2 = []
for idx in range(21):
    if idx not in l:
        l2.append(idx)
print(l2)

**Exercise**. Given the following string

In [ ]:
cad = "Once upon a midnight dreary, while I pondered, weak and weary"

a) Extract the first word

In [ ]:
cad[:cad.index(' ')]

b) Extract the last word (harder)

In [ ]:
last_pos = len(cad) - cad[::-1].index(' ')
cad[last_pos:]

c) Extract a list with the words

In [ ]:
result = []
c = "Once upon a midnight dreary, while I pondered, weak and weary"
while len(c) > 0:
    if ' ' in c:
        idx = c.index(' ')
        if idx == 0:
            c = c[1:]
        else:
            word = c[:idx]
            result.append(word)
            c = c[idx:]
    else:
        if c != '':
            result.append(c)
            c = ""
print(result)

There is a simpler version if we know the proper method

In [ ]:
c = "Once upon a midnight dreary, while I pondered, weak and weary"
print(c.split(" "))